body {
    background-color: var(--background-color);
    transition: .4s;
}

body,
html {
    scrollbar-color: var(--main-color2) var(--background-color);
    color: var(--main-color2);
}

.blind {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.cards-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
}

.cards-section-title {
    color: var(--main-color0);
    font-size: 24px;
    margin: 0 0 20px 10px;
    display: flex;
}

.cards-section .card-poster {
    border-radius: 10px;
    position: relative;
    z-index: 2;
    width: calc(20% - 8px);
    flex-shrink: 0;
}

.cards-section .card-image-wrap {
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 2 / 3;
}

.cards-section .card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
}

.cards-section .card-poster:hover .card-img {
    transform: scale(1.05);
}

.search-input-box {
    background-color: var(--main-color5);
    color: var(--main-color0);
    border-radius: 4px;
    font-size: 16px;
    top: 0;
    right: 0;
    width: 360px;
    height: 40px;
    padding: 0 40px;
    border: none;
    outline: none;
}

.search-input-icon {
    position: absolute;
    margin-left: 11px;
}

#searchDeleteBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    transition: transform 0.2s ease-out;
    transform: scale(0);
}

.search-input-box:focus + #searchDeleteBtn,
.search-input-box:active + #searchDeleteBtn,
#searchDeleteBtn:focus,
#searchDeleteBtn:active {
    transform: scale(1);
}


/* ------------------------------ */

#themeBtn {
    width: 30px;
    height: 25px;
    mask: url(../img/common/light-theme.svg) no-repeat center /16px auto;
    background: var(--main-color0);
}

.light-mode #themeBtn {
    mask-image: url(../img/common/dark-theme.svg);
}