

.image-box img {
    width: 100%;
}

.text-box {
    position: absolute;
    z-index: 2;
    top: 385px;
    left: 0;
    
}

.video-detail {
    position: relative;
    width: 1240px;
    margin: 0 auto;
}

.image-box {
    position: relative;
    z-index: 1;
}

h1.logo-box {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 35px; /* 아래쪽 간격 추가 */    
}

.dot-item {
    font-weight: bold;
    color: #ffffff;
}

.video-button {
    width: 360px;
    height: 48px;
    border-radius: 12px;
    background-color: #1351f9;
    font-size: 16px;
    color: #fff;
    margin-right: 35px; /* 오른쪽 여백 추가 */
}

.content-clamp {
    font-size: 16px;
    color: #a5a5a5;
    line-height: 1.5;
}

.image-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/detail/detail_gra_bg.png);
    background-size: 1240px auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.more {
    color:#fff
    
}

.btnbox .icon-item .icon-txt {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    line-height: 18px;
    color: #a5a5a5;
}

.player-nav ul li button.on {
    border-bottom-color: #1351f9;
    color: #fff;
}

.player-nav ul li button {
    display: inline-block;
    padding: 0 10px;
    border-bottom: 4px solid transparent;
    font-size: 18px;
    color: #a5a5a5;
    line-height: 63px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}

.player-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.player-nav ul {         /* 선긋기효과 */
    width: 100%;
    border-bottom: 1px solid #2f2f2f;
    font-size: 0;
}

.player-bottom-contents .player-nav {
    margin-bottom: 40px;
}

.player-bottom-contents {
    position: relative;
    width: 1240px;
    margin: 0 auto;
}

.btnbox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center; /*수평정렬*/
}


.detail-info-box {
    width: 780px;

    margin-top: 25px;
}



.preview-title {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
}

.preview-dsc {

    margin-top: 8px;
    font-size: 16px;
    color: #a5a5a5;
    line-height: 24px;
}

.detail-view-content-arena .preview-detail-box {
    padding-bottom: 20px;
}

.detail-view-content-arena .content-actor-box {
    margin-top: 8px;
}
.content-actor-box  {
    margin-right: 12px;
    font-weight: 400;
    color: #a5a5a5;
}

.detail-view-content-arena .detail-view-box {    /* 선긋기효과 */
    padding-top: 20px;
    border-top: 1px solid #2f2f2f;
}


.detail-view-content-arena .detail-view-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    color: #a5a5a5;
}

.detail-view-content-arena .detail-view-box .detail-info-table td,
.detail-view-content-arena .detail-view-box .detail-info-table th {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    vertical-align: top;
}

.thumb-img {
    border-radius: 20px;
    margin-right: 30px;
}

.detail-view-content-area .detail-view-box .detail-info-table .genre {
    display: inline-block;
    color: #fff;
    vertical-align: top;
}

.detail-view-content-area,
.detail-view-box,
.detail-info-table,
.genre {
    color: #fff; 
}