header {
  color: #fff;
  display: flex;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1240px;
  margin: 0 auto;
}

.navContainer {
]:absolute;flex-grow: 2;}

.searchContainer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.searchInput {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.searchButton {
  background-color: #1b1b1b;
  border: 1px solid black;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.logo img {
  width: 100px;
}

nav {
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  padding: 0 10px;
}

nav ul li a:hover {
  color: gray;
}
.searchInput {
  display: flex;
  font-size: 19px;
  height: 50px;
  margin-right: auto;
  width: 450px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

header .logo {
  flex-shrink: 0;
  margin-right: 78px;
}
