.headerNav {
  border-bottom: 1px solid #2e2e2e;
  height: 34px;
  margin-top: 15px;
}

.headerNavMenu {
  display: flex;
  margin: 0px auto;
  justify-content: flex-end;
  font-size: 12px;
  padding: 0 11px;
  color: #a5a5a5;
  position: relative;
  width: 1240px;
}

.headerNavMenu ul li {
  position: relative;
}

.headerNavMenu ul li::after {
  position: absolute;
  top: 2px;
  right: 0px;
  content: "";
  height: 8px;
  background-color: #2f2f2f;
  width: 1px;
}

.headerNavMenu ul li:last-child::after {
  display: none;
}

.headerSection {
  color: #ffffff;
  display: flex;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1240px;
  margin: 0 auto;
}

.headerMenu {
  flex-grow: 2;
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo img {
  width: 100px;
}

.headerNavMenu ul {
  display: flex;
}

.headerMenu ul {
  display: flex;
  gap: 20px;
}

.headerNav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
  font-size: 12px;
  padding: 0 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

.headerMenu ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  padding: 0 10px;
}

nav ul li a:hover {
  color: #ffffff;
}

.headerMenu ul li a.on {
  color: #ffffff;
}

header .logo {
  flex-shrink: 0;
  margin-right: 78px;
}
