body,
html {
  scrollbar-color: #a5a5a5 #1b1b1b;
  color: #a5a5a5;
}

.main {
  width: 100%;
  z-index: 10;
  margin: 109px auto 0;
  padding-bottom: 50px;
  height: 100%;
  min-height: 1080px;
  overflow: hidden;
  min-width: 1240px;
  background-color: #1b1b1b;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #e8e8e8;
}

.swiper-slide swiper-slide-active {
  margin: 0 auto;
}

.swiper-slide {
  float: left;
  position: relative;
  overflow: hidden;
  width: 1240px;
  height: 508px;
  margin: 0 10px;
  border-radius: 12px;
  background-color: #252525;
}
.picture-area {
  width: 1240px;
  height: 508px;
  margin: 0 auto;
}

#main-banner .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* ----------------------------------- */

#main-banner {
  position: relative;
}

#main-banner .swiper-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100px;
  margin-top: -50px;
}

#main-banner .swiper-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  width: 100px;
  margin-top: -50px;
}

/* -------------------- */

.cards {
  position: relative;
  width: 1240px;
  margin: 80px auto;
  overflow: hidden;
  min-height: 442px;
}

.cards .cards-title {
  color: white;
  font-size: 36px;
  display: block;
}
