.popup-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  display: none;
}

.main-screen {
  width: 508px;
  height: 633px;
  margin: -316px 0 0 -254px;
  color: #fff;

  position: absolute;
  z-index: 2200;
  left: 50%;
  top: 50%;
  border-radius: 8px;
}
.main-outer {
  width: 508px;
  position: relative;
}
.popup-close {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 2000;
}

.main-content {
  position: relative;
  width: 420px;
  height: 600px;
  overflow: hidden;
}
.main-content img {
  width: 420px;
  height: 600px;
  border-radius: 16px;
}

.popup-checkbox {
  position: relative;
}
.popup-checkbox label {
  color: #a5a5a5;
  font-size: 16px;
  margin-top: 20px;
}

.popup-checkbox input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.popup-checkbox input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

.popup-checkbox input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 23px;
  height: 23px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #a5a5a5;
}

.popup-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAAXNSR0IArs4c6QAAAO9JREFUSA1jFA78+Z+BRoCJRuaCjR01HGvoDv5gYWTE6nAGil3ekcLMcGYaK1bTKTK8J52ZIcWLmWHlgX/UNRxkcII7M0Pfmr8MXSv/Us9wZIPblmE3GGQb1mBZUMbCMLOQmYGFGdNBxBqM0/B95/8xBNsyM8wtZkGxgBSDcRq+aPc/hvLZfxi8LZjgFpBqMMhwRnylYrInE0NnKgvDw5f/GeTFGcGRhy+MQQYiAxZkDjp77vZ/DDycfxhqopkZFu36y0CKwSCz8LocZpm4AAPDyw8wHvE01tSCrp0cg0FmEGU4umXE8kcNxxpSNA0WAAXETbeav2oDAAAAAElFTkSuQmCC)
    no-repeat;
  background-position: center center;
}

.popup-checkbox input[type="checkbox"] + label span {
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.5);
}
