#searchResultSection .cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#searchResultSection {
  width: 1240px;
  margin: 80px auto;
}

/* ----------------------- */

.search-empty-main {
  width: 1240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 200px auto 0;
}

.search-empty-icon {
  color: white;
  width: 80px;
  height: 80px;
  justify-content: center;
}

.search-empty-text {
  margin-top: 12px;
  font-size: 22px;
  color: white;
  justify-content: center;
  line-height: 34px;
}

.error_word {
  color: #9ab9e8;
}

.search-empty-text2 {
  margin-left: 7px;
}
