.popularSeries {
  display: block;
  width: 1240px;
  height: 221px;
}

.titleSeries {
  color: #ffffff;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 35px;
}

.swiperContainer img {
  width: 230px;
  height: 135px;
}

.moviePosterContainer {
  display: block;
}

.swiperContainer {
  display: flex;
  gap: 10px;
}

.moviePosterContainer p {
  color: #ffffff;
}