.popular-series {
  display: block;
  width: 1240px;
  height: 221px;
  margin: 0 auto;
  margin-top: 100px;
}

.title-series {
  color: #ffffff;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 35px;
}

.swiper-container img {
  width: 230px;
  height: 135px;
  border-radius: 15px;
}

.movie-poster-container {
  display: block;
}

.swiper-container {
  display: flex;
  gap: 10px;
}

.movie-poster-container p {
  color: #ffffff;
}

.popular-movies {
  display: block;
  width: 1240px;
  height: 221px;
  margin: 0 auto;
  margin-top: 100px;
}

.contentsName {
  margin-top: 10px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}

.search-input-box {
  background-color: #000000;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 4px;
  font-size: 16px;
  top: 0;
  right: 0;
  width: 360px;
  height: 40px;
  padding: 0 40px;
}

.search-input-box:focus {
  outline: none;
}

.search-input-icon {
  position: absolute;
  margin-left: 11px;
}

.serch-cancel-icon {
  position: absolute;
  width: 15px;
  height: 15px;
}
