.page-top {
  margin-bottom: 40px;
  padding: 40px 0;
  background-color: #252525;
}

.page-top-inner-wrap {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  text-align: left;
}

.page-title {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
}

.page-title + .page-text {
  margin-top: 2px;
}

.page-text {
  font-size: 16px;
  line-height: 24px;
  color: #a5a5a5;
  font-weight: 400;
}

/* 공통규칙안에 있어서 삭제예정 */
.list-view-detail {
  width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
  margin: 0 auto;
}

.list-view-detail .card-poster {
  border-radius: 10px;
  position: relative;
  z-index: 2;
  width: calc(20% - 8px);
  flex-shrink: 0;
  padding-bottom: 40px;
}

.card-poster .card-image-wrap {
  overflow: hidden;
  aspect-ratio: 2 / 3;
}

.card-image-wrap .card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
}

.card-poster .card-image-wrap:hover .card-img {
  transform: scale(1.05);
}
